html,
body,
div,
p,
ul {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

body {
  font-family: Arial;
  color: white;
  background-color: #3c3a34;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

#header, #showFlower, #ticket {
  position: relative;
  height: 100%;
  width: 100%;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
  font-size: 0;
}

.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

#header {
  background: url('../images/bg.JPG') 50% 32%;
  min-height: 590px;
}

#nav {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  background-color: #609ec1;
}

#nav a {
  color: white;
  line-height: 50px;
}

#nav .nav-wrap {
  width: 1000px;
  margin: 0 auto;
}

#nav .logo {
  display: inline-block;
  width: 255px;
  padding-top: 10px;
  text-indent: -10000px;
  background: url('../images/logo.png') 50% 50% no-repeat; 
}

#nav:first-child {
  font-size: 32px;
}

#nav li {
  float: left;
  margin-left: 1px;
}

#nav li a {
  display: inline-block;
  height: 50px;
  padding: 0 10px;
  font-size: 18px;
  font-family: Arial;
  border-top: 10px solid transparent;
}

#nav .active {
  border-top: 10px solid rgba(0,0,0,0.2);
}

.wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#header .wrapper {
  padding-top: 150px;
  color: white;
}

#header .wrapper a {
  color: white;
}

#header .wrapper .banner {
  width: 300px;
  /*background-color: rgba(205,80,74,0.5);*/
}

#header h1 {
  padding: 10px 20px;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
  letter-spacing: 1px;
}

#header h2 {
  text-align: center;
  letter-spacing: 4px;
  margin: 5px 0;
}
 
#header .wrapper .intro {
  width: 100%;
}


#header .wrapper .banner-wrap {
  padding: 20px;
}

.banner-wrap .content {
  margin-top: 80px;
  text-indent: 20px;
  text-align: center;
}

.banner-wrap .content li {
  margin-bottom: 5px;
}

#header .wrapper .but-wrap {
  margin: 20px auto 50px auto;
  text-align: center;
  width: 600px;
}

#header .wrapper .but-wrap .butn {
  font-size: 20px;
  background-color: rgba(205,80,74,0.85);
  padding: 10px 80px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#header .scrollToFlower {
  text-align: center;
}

#header .scrollToFlower a {
  display: inline-block;
  text-align: center;
  width: 70px;
  height: 30px;
  background-color: #f89c48;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding-top: 2px;
}

#header .scrollToFlower a:hover {
  background-color: #ed5801;
  background-image: -moz-linear-gradient(top, #f8a85e, #f89c48); /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8a85e), color-stop(1, #f89c48)); /* Saf4+, Chrome */
}

#header .scrollToFlower .icon-chevron-down:before {
  color: whitesmoke;
}

#showFlower {
  background-color: #f89c48;
  padding-top: 70px;
  padding-bottom: 50px;
}

#showFlower .header, #ticket .header {
  width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 5px solid #fdd88a;
}

#showFlower .header h1, #ticket .header h1 {
  font-size: 36px;
  color: #fdd88a;
  margin: 0;
}

#showFlower .row {
  padding-bottom: 60px;
}

#showFlower .row:first-child {
  padding-top: 40px;
}

/*height,width equal to image's size*/
#showFlower .archive li {
  float: left;
  height: 240px;
  width: 194px;
  position: relative;
  margin-left: 74px;
  position: relative;
}

#showFlower ul li:first-child {
  margin-left: 0;
}

#showFlower .classify-label {
  position: absolute;
  display: inline-block;
  width: 194px;
  background-color: #fdd88a;
  bottom: -38px;
  left: 0;
}

#showFlower .classify-label span {
  padding: 10px;
  display: inline-block;
  color: #518aa5;
}

#flower-lightbox {
  display: none;
  position: fixed;
  z-index: 1002;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1001;
}

#flower-lightbox header {
  text-align: center;
  margin-top: 168px;
  height: 29px;
  position: relative;
}

#flower-lightbox .closeBox {
  position: absolute;
  right: 10px;
  top: -158px;
}

#flower-lightbox .closeBox:hover .icon-remove-sign:before {
  color: #c0bbbb;
}

#flower-lightbox .closeBox .icon-remove-sign:before {
  color: whitesmoke;
}

#flower-lightbox header span {
  display: inline-block;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  background-image: -moz-linear-gradient(top, #f5f5f5, #c0bbbb); /* Firefox */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f5f5f5), color-stop(1, #c0bbbb)); /* Saf4+, Chrome */
  color: #333;
}

#flower-lightbox .content {
  width: 100%;
}

#flower-lightbox .sliderwrap {
  height: 194px;
  width: 2150px;
  padding: 20px;
  overflow: hidden;
  position: absolute;
  left: 0;
  background-color: rgba(0,0,0,0.9);
}

#flower-lightbox .sliderwrap li {
  overflow: hidden;
  float: left;
  margin-left: 20px;
  width: 194px;
  height: 194px;
}

#ticket {
  background-color: #3c3a34;
  background-image: -webkit-gradient(radial, center center, 0, center center, 700, from(#47443d), to(#3c3a34)); /* old WebKit Syntax */  
  background-image: -webkit-radial-gradient(center center, circle contain, #47443d 0%, #3c3a34 100%); /* New WebKit syntax */  
  background-image: -moz-radial-gradient(center center, circle contain, #47443d 0%, #3c3a34 100% 100%);  
  background-image: -ms-radial-gradient(center center, circle contain, #47443d 0%, #3c3a34 100% 100%); /* IE10+ */  
  background-image: -o-radial-gradient(center center, circle contain, #47443d 0%, #3c3a34 100% 100%); /* Opera (13?) */  
}

#ticket .online .header {
  padding-top: 100px;
}

#ticket .wrapper {
  padding-top: 20px;
}

#ticket .online .price {
  padding-top: 10px;
  position: relative;
}

#ticket .online .price:nth-child(2) {
  padding-bottom: 10px;
}

#ticket .online .price img {
  vertical-align: middle;
}

#ticket .online .price .amount {
  display: inline-block;
}

#ticket .online .price .tempTotal {
  color: white;
  width: 90px;
}

#ticket .online .price .cal {
  position: absolute;
  top: 68px;
  left: 50%;
}

#ticket .online .price .cal span {
  float: left; 
}

#ticket .online .price .cal span:first-child {
  margin: 0 170px 0 40px;
}

#ticket .online .price .cal input {
  width: 127px;
}

#ticket .online .price .cal .unit {
  float: right;
  margin-right: 0;
  width: 20px;
  text-align: right;
}

#ticket .online .price span a {
  color: white;
}

#ticket .online .price .minus {
  padding: 0 5px;
}

#ticket .online .price .icon-remove:before {
  position: absolute;
  top: 64px;
  left: 420px;
  color: white;
  font-size: 30px;
}

#ticket .total {
  text-align: right;
  margin: 10px 0 20px 0;
  border: 2px solid #fdd88a;
}

#ticket .total .btn {
  color: white;
  display: inline-block;
  padding: 5px 22px;
  background-color: #fdd88a;
}

#ticket .total .totalwrap {
  margin-right: 10px;
} 

#ticket .total .sum {
  display: inline-block;
  text-align: left;
}

#ticket .onscene .content h1{
  font-size: 20px;
  border-left: 5px solid #fdd88a;
  padding-left: 10px;
}

#ticket .onscene .content p {
  width: 600px;
}

#ticket .transport {
  position: relative;
}

#ticket .mapLink {
  position: absolute;
  display: inline-block;
  width: 372px;
  height: 240px;
  right: 0;
  bottom: 0;
  background-color: white;
  background-image: url('../images/map.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 1px solid #fdd88a;
}

#footer {
  padding: 20px 0;
  font-size: 12px;
  border-top: 1px dashed white;
  margin-top: 40px;
}
